CompileFlags:
  Add:
    - "-I../src"
    - "-I../third-party/glfw/include"
    - "-I../third-party/imgui"
    - "-I../third-party/imgui/backends"
    - "-I../third-party/glad/include"
    - "-I../third-party/tinyobjloader"
    - "-I../third-party/json"
    - "-I../third-party/tomlplusplus"
  Remove:
    - "--options-file"
    - "-forward-unknown-to-host-compiler"
    - "--generate-code=arch=compute_52,code=[compute_52,sm_52]"

---
If:
  PathMatch: '.*\.cu$'
CompileFlags:
  Add:
    - "-x"
    - "cuda"
    - "--cuda-gpu-arch=sm_86"
    - "--no-cuda-version-check"
